*{
    padding: 0;
    margin: 0;
}

:root{
    --fontbase: 'Montserrat';
    --h1color: #01B0F1;
    --branco: #ffffff;
    --preto: #000000;
}

.body{
    transition: ease-in;
}

.conteudo{
    background-image: url(../img/bg\ \(2\).png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    color: var(--branco);
    font-family: var(--fontbase);
    display: flex;
}


.left{
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(16px);
    width: 53%;
    height: 100%;
}

.left_titulo{
    background-color: var(--h1color);
    width: 110%;
    height: 130px;
    border-radius: 0 80px 80px 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_titulo h1{
    margin-left: 40px;
    font-size: 40px;
    font-weight: 700;
}

.left_titulo img{
    position: relative;
    left: -20px;
    width: 100px;
}

.conteudo p{
    margin: 40px 170px 0 40px;
    font-size: 40px;
}


.posicao_span_left span{
    color: rgb(255, 255, 255, 0.5);
    margin: 0 5% 0 50%;
    text-align: end;
}

.posicao_span_left{
    display: flex;
    align-items: end;
    height: 30%;
    background-color: rgb(102, 51, 153, 0);
}

/* CSS ÁREA DIREITA */


.right{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campo_digito p{
    font-size: 15px;

}

.campo_digito{
    box-sizing: border-box;
    padding: 12px 40px;
    margin-top: 40px;
    width: 400px;
    height: 70px;
    background: linear-gradient(94.31deg, rgba(255, 255, 255, 0.25) -8.53%, rgba(0, 61, 115, 0.25) 116.35%);
    border: 7px solid rgb(255, 255, 255, 0.7);
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    border-radius: 35px;
}

input,
::placeholder{
    color: var(--branco);
    font-size: 18px;
    font-family: var(--fontbase);
}

::-ms-reveal {
    filter: invert(100%);
  }

.right h1{
    font-size: 50px;
    margin-bottom: 60px;
}

a{
    margin-top: 40px;
    color: var(--preto);
    font-weight: 700;
    text-decoration: none;
    font-family: var(--fontbase);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 160px;
    background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
    border: 6px solid rgb(179, 231, 255);
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    transition: 0.9s;
}

a:hover{
    color: rgb(255, 255, 255);
}

.voltar{
    position: absolute;
    bottom: 0;
    height: 5%;
    width: 100%;

    background: linear-gradient(90deg, rgba(0, 12, 24, 0.5) 0%, rgba(3, 41, 59, 0.5) 100%);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.voltar img{
    width: 25px;
}


@media screen and (max-width:990px) {
    
    .conteudo{
        justify-content: space-between;
    }

    /* AREA ESQUERDA */
    .left{
        width: 49%;
    }

    .left_titulo{
        width: 105%;
        height: 100px;
    }
    
    .left_titulo h1{
        font-size: 30px;
    }
    
    .left_titulo img{
        left: -20px;
        width: 80px;
    }

    .left>p{
        font-size: 20px;
    }
    
    .posicao_span_left>span{
        font-size: 12px;
        height: 35%;
    }

    /* ÁREA DIREITA */
    .right>h1{
        font-size: 30px;
        margin-bottom: 30px;
    }

    .campo_digito{
        padding: 8px 20px;
        margin-top: 30px;
        width: 300px;
        height: 50px;
        border: 5px solid rgb(255, 255, 255, 0.7);
    }
    
    input,
    ::placeholder{
        color: var(--branco);
        font-size: 10px;
        font-family: var(--fontbase);
    }
}


@media screen and (max-width:769px) {
    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

/* AREA DO TOPO */

    .left{
        width: 100%;
        height: 35%;
    }
    
    .left_titulo{
        width: 100%;
        height: 80px;
        border-radius: 0 80px 80px 0;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .left_titulo h1{
        margin-left: 40px;
        font-size: 20px;
        font-weight: 700;
    }
    
    .left_titulo img{
        position: relative;
        left: -10px;
        width: 70px;
    }
    
    .conteudo p{
        margin: 20px 170px 0 40px;
        font-size: 20px;
    }
    
    
    .posicao_span_left span{
        text-align: end;
    }
    
    .posicao_span_left{
        display: flex;
        align-items: end;
        height: 20%;
        background-color: rgb(102, 51, 153, 0);
    }
 
    /* AREA DO FIM */
    .right{
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .right>h1{
        font-size: 20px;
        margin-bottom: 0;
    }

    .acessar{
        margin-top: 10px;
        height: 30px;
        width: 90px;
        font-size: 15px;
    }

    .campo_digito p{
        font-size: 15px;
    }
    
    .campo_digito{
        margin-top: 20px;
        width: 250px;
    }
    
}

@media screen and (max-width:331px) {
    .left>p,
    .posicao_span_left{
        display: none;
    }

    .left{
        background-color: transparent;
        height: 60px;
    }

    .right>h1{
        font-size: 30px;
    }

    .right{
        width: 100%;
    }

    .conteudo{
      background-image: url(../img/VOLKSBOT\ _PAZ_.png), url(../img/bg\ \(2\).png);  
      background-size: 170px, cover;
      background-repeat: no-repeat;
      background-position: bottom right, 0;
      
    }

    .voltar{
        display: none;
    }
    
}

























/* tamigld :P  */